@namespace "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/*
	Hacky way to get native-styled checkboxes in a xul tree column to match the
	original add-on.
*/

#checkbox-stack {
	height: 0;
	overflow: hidden;
}

treechildren::-moz-tree-checkbox {
	background-image: -moz-element(#checkbox-unchecked);
}
treechildren::-moz-tree-checkbox(checked) {
	background-image: -moz-element(#checkbox-checked);
}
