@namespace "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

#link-tree treechildren::-moz-tree-image(linkChecked, checked) {
  list-style-image: url("chrome://global/skin/in-content/check.svg#check");
  width: 21px;
  height: 21px;
}

#link-tree treechildren::-moz-tree-image(linkChecked, checked, selected) {
  list-style-image: url("chrome://global/skin/in-content/check.svg#check-inverted");
}

/*#link-tree treechildren::-moz-tree-row {
  min-height: 36px;
}*/